{%- assign items = path_block | default: items -%}
{%- assign class_name = class_name | default: 'servico-know__path-list' -%}

{% unless items.size == 0 %}
  {% assign has_ended = false %}
  
  <ul class="{{ class_name }}">
    {% for p in items %}
      <li 
        class="servico-know__path-item {% if forloop.first and is_mobile %}active{% else %}inactive{% endif %}"
        data-index="{{ forloop.index }}"
      >
        {% unless p.settings.icon == blank %}
          <img
            src="{{ p.settings.icon | image_url: width: 70, height: 70 }}"
            alt="{{ forloop.index }}-icon"
            width="70"
            height="70"
          >
        {% endunless %}

        {% unless p.settings.title == blank %}
          <h3 class="servico-know__item-title">{{ p.settings.title }}</h3>
        {% endunless %}

        {% unless p.settings.description == blank %}
          {{ p.settings.description }}
        {% endunless %}

        {% unless has_ended %}
          <ul id="servico_slides_container">
            {% for p in items %}
              {% if forloop.last %}
                {% assign has_ended = true %}
              {% endif %}
              
              <li
                class="slide_point {% if forloop.first and is_mobile %}active{% else %}inactive{% endif %}"
                data-index="{{ forloop.index }}"
              ></li>
            {% endfor %}
          </ul>
        {% endunless %}
      </li>
    {% endfor %}
  </ul>
{% endunless %}