{%- assign items = path_block | default: items -%}
{%- assign class_name = class_name | default: 'servico-know__path-list' -%}

{% unless items.size == 0 %}
  <ul class="{{ class_name }}">
    {% for p in items %}
      <li 
        class="servico-know__path-item"
        data-index="{{ forloop.index }}"
      >
        {% unless p.settings.icon == blank %}
          <img
            src="{{ p.settings.icon | image_url: width: 70, height: 70 }}"
            alt="{{ forloop.index }}-icon"
            width="70"
            height="70"
          >
        {% endunless %}

        {% unless p.settings.title == blank %}
          <h3 class="servico-know__item-title">{{ p.settings.title }}</h3>
        {% endunless %}

        {% unless p.settings.description == blank %}
          {{ p.settings.description }}
        {% endunless %}

        <ul id="servico_slides_container">
          <li
            class="slide_point {% if forloop.first %}active{% endif %}"
            data-index="{{ forloop.index }}"
          ></li>
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endunless %}