<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-342178610"></script>

    <script>
      if (!localStorage.getItem('shopify_consent')) {
        localStorage.setItem('shopify_consent', 'denied');
      }

      gtag('consent', 'default', {
        ad_storage: localStorage.getItem('shopify_consent'),
        analytics_storage: localStorage.getItem('shopify_consent'),
        functionality_storage: 'granted',
        personalization_storage: localStorage.getItem('shopify_consent'),
        security_storage: 'granted',
      });
    </script>

    {% style %}
      .shopify-pc__prefs__overlay {
        display: none;
        z-index: 0;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Light.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Light.ttf?v=1740500321')
            format('truetype');
        font-weight: 100 300;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-LightItalic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-LightItalic.ttf?v=1740500320')
            format('truetype');
        font-weight: 100 300;
        font-style: italic;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Regular.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Regular.ttf?v=1740500321')
            format('truetype');
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Italic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Italic.ttf?v=1740500321')
            format('truetype');
        font-weight: 400;
        font-style: italic;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Medium.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Medium.ttf?v=1740500321')
            format('truetype');
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-MediumItalic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-MediumItalic.ttf?v=1740500321')
            format('truetype');
        font-weight: 500;
        font-style: italic;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-SemiBold.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-SemiBold.ttf?v=1740500320')
            format('truetype');
        font-weight: 600;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-SemiBoldItalic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-SemiBoldItalic.ttf?v=1740500321')
            format('truetype');
        font-weight: 600;
        font-style: italic;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Bold.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Bold.ttf?v=1740500321')
            format('truetype');
        font-weight: 700;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-BoldItalic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-BoldItalic.ttf?v=1740500320')
            format('truetype');
        font-weight: 700;
        font-style: italic;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-ExtraBold.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-ExtraBold.ttf?v=1740500320')
            format('truetype');
        font-weight: 800;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-ExtraBoldItalic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-ExtraBoldItalic.ttf?v=1740500321')
            format('truetype');
        font-weight: 800;
        font-style: italic;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Black.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-Black.ttf?v=1740500320')
            format('truetype');
        font-weight: 900;
        font-style: normal;
      }

      @font-face {
        font-family: 'Red Hat Display';
        src: url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-BlackItalic.woff2?v=1740479613')
            format('woff2'),
          url('https://cdn.shopify.com/s/files/1/0451/2327/2853/files/RedHatDisplay-BlackItalic.ttf?v=1740500320')
            format('truetype');
        font-weight: 900;
        font-style: italic;
      }
    {% endstyle %}

    <meta name="facebook-domain-verification" content="2ofac6fkqmxfrhdtzztfz5d7m3mcul">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    <!-- CSS Cruz Vermelha -->
    <link rel="stylesheet" href="{{ 'cruz-vermelha-styles.css' | asset_url }}">

    <div id="modal_overlay"></div>

    <div id="modal_cruz_vermelha">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="12"
        width="12"
        viewBox="0 0 384 512"
        id="escape_cruz_modal"
      >
        <path fill="#308a36" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
      </svg>

      <div id="modal_form_cruz">
        <svg width="29" height="27" viewBox="0 0 39 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.2727 0.55475L36.0079 10.6563C37.9248 12.6443 39 15.3277 39 18.1241C39 20.9204 37.9248 23.6038 36.0079 25.5918L27.4791 34.4425C27.3106 34.6176 27.1101 34.757 26.8891 34.8526C26.6681 34.9483 26.4309 34.9983 26.1911 35C25.9512 35.0016 25.7134 34.9547 25.4912 34.862C25.2691 34.7694 25.0668 34.6327 24.8961 34.4599C24.5514 34.1108 24.3559 33.6355 24.3527 33.1386C24.3512 32.8925 24.3968 32.6486 24.4872 32.4206C24.5775 32.1927 24.7107 31.9852 24.8792 31.8101L33.4002 22.9595C34.6407 21.6732 35.3366 19.9368 35.3366 18.1274C35.3366 16.318 34.6407 14.5816 33.4002 13.2953L23.6755 3.19515C23.3352 2.84147 23.1458 2.36361 23.149 1.86669C23.1522 1.36977 23.3476 0.894493 23.6924 0.545415C24.0372 0.196338 24.503 0.00205499 24.9874 0.0053061C25.4718 0.00855722 25.9351 0.209076 26.2753 0.562751L26.2727 0.55475ZM1.11654e-05 15.429V3.7499C0.000355705 2.75547 0.385586 1.80188 1.07103 1.09871C1.75647 0.395544 2.68603 0.000353463 3.65539 1.45017e-08H15.0401C15.6809 -5.004e-05 16.3155 0.129478 16.9074 0.381178C17.4994 0.632878 18.0372 1.00181 18.4901 1.46689L31.2839 14.5915C32.1975 15.5288 32.7106 16.8 32.7106 18.1254C32.7106 19.4508 32.1975 20.722 31.2839 21.6593L21.1173 32.0848C20.2036 33.022 18.9645 33.5484 17.6725 33.5484C16.3804 33.5484 15.1413 33.022 14.2277 32.0848L1.42993 18.9602C0.975595 18.498 0.615247 17.9479 0.369786 17.3417C0.124324 16.7355 -0.00136413 16.0854 1.11654e-05 15.429ZM10.9662 8.74932C10.9662 8.25479 10.8232 7.77137 10.5554 7.36018C10.2876 6.949 9.90691 6.62852 9.46154 6.43927C9.01617 6.25002 8.5261 6.20051 8.0533 6.29698C7.5805 6.39346 7.1462 6.6316 6.80533 6.98128C6.46446 7.33097 6.23233 7.77649 6.13828 8.26152C6.04423 8.74654 6.0925 9.24928 6.27698 9.70617C6.46146 10.1631 6.77386 10.5536 7.17468 10.8283C7.5755 11.103 8.04674 11.2497 8.5288 11.2497C9.17523 11.2497 9.79518 10.9863 10.2523 10.5173C10.7094 10.0484 10.9662 9.41246 10.9662 8.74932Z" fill="#258439"/>
        </svg>

        <div>
          <span class="cruz_title">
            Se és subscritor do Cartão de Saúde da Cruz Vermelha Portuguesa, introduz o teu NIF abaixo para usufruíres
            de
            <strong>10% extra de desconto imediato.*</strong>
          </span>

          <form>
            <label for="cruz_nif">Introduz o teu NIF</label>

            <div>
              <input name="cruz_nif" id="cruz_nif" required>

              <button type="submit">Validar</button>
            </div>

            <span id="cruz_nif_message">Deve ter 9 dígitos</span>
          </form>

          <span>*Não acumulável com outras campanhas em vigor.</span>
        </div>
      </div>

      <div id="modal_successful_cruz">
        <img src="{{ 'check_circle.png' | asset_img_url }}" width="55" height="55" alt="Sucesso Ícone">

        <span>Desconto Ativado com Sucesso. Redirecionando...</span>
      </div>
    </div>

    <script>
      var customer_id = {{ customer.id | default: 0 }};
    </script>

    <!-- JavaScript Cruz Vermelha -->
    <script defer src="{{ 'cruz-vermelha-scripts.js' | asset_url }}"></script>

    {% if product %}
      {% assign product_has_collection = false %}

      {% for collection in product.collections %}
        {% if collection.title == 'Estimulante sexual' %}
          {% assign product_has_collection = true %}
        {% endif %}
      {% endfor %}

      {% if product.tags contains 'Estimulante sexual' or product_has_collection %}
        <meta name="robots" content="noindex">
      {% endif %}
    {% endif %}

    {% if collection and collection.title == 'Estimulante sexual' %}
      <meta name="robots" content="noindex">
    {% endif %}

    <script>
      (function (w, d, t, r, u) {
        var f, n, i;
        (w[u] = w[u] || []),
          (f = function () {
            var o = { ti: '343146853', enableAutoSpaTracking: true };
            (o.q = w[u]), (w[u] = new UET(o)), w[u].push('pageLoad');
          }),
          (n = d.createElement(t)),
          (n.src = r),
          (n.async = 1),
          (n.onload = n.onreadystatechange =
            function () {
              var s = this.readyState;
              (s && s !== 'loaded' && s !== 'complete') || (f(), (n.onload = n.onreadystatechange = null));
            }),
          (i = d.getElementsByTagName(t)[0]),
          i.parentNode.insertBefore(n, i);
      })(window, document, 'script', '//bat.bing.com/bat.js', 'uetq');
    </script>

    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last | split: 'product_type:' | last }} - {{ shop.name }}
      {%- else -%}
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}

    <title>{{- seo_page_title -}}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
      <meta name="twitter:description" content="{{ page_description | escape }}">
    {%- endif -%}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const collectionLink = document.querySelector('.link_collection');

        const canonicalTag = document.createElement('link');
        canonicalTag.rel = 'canonical';

        if (collectionLink && collectionLink.href) {
          const linkPart = collectionLink.href.split('pt')[1];

          canonicalTag.href = `{{ shop.url }}${linkPart}{{ request.path }}`;
        } else {
          canonicalTag.href = '{{ shop.url }}{{ request.path }}';
        }

        document.head.appendChild(canonicalTag);
      });
    </script>

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    <script>
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        showDiscount: {% if settings.show_discount %}true{% else %}false{% endif %},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        productRegularPrice: {{ 'product.general.regular_price' | t | json }},
        productSalePrice: {{ 'product.general.sale_price' | t | json }},
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        productAdded: {{ 'product.form.added' | t | json }},
        productAddedShort: {{ 'product.form.added_short' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {%- if request.page_type != 'cart' -%}
      <script>
        (function () {
          window.onpageshow = function () {
            document.documentElement.dispatchEvent(
              new CustomEvent('cart:refresh', {
                bubbles: true,
                detail: { scrollToTop: false },
              })
            );
          };
        })();
      </script>
    {%- endif -%}

    {% capture boostersnippet %}
      {% render "booster-apps-common" %}
    {% endcapture %}

    {% unless boostersnippet contains 'Liquid error' %}
      {{ boostersnippet }}
    {% endunless %}

    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = 'https://www.clarity.ms/tag/' + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, 'clarity', 'script', 'ick368r4xr');
    </script>

    {% render 'microdata-schema' %}
  </head>

  <body
    class="bioself--v1 {% if settings.animation_image_zoom %}features--animate-zoom{% endif %} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}"
    data-instant-intensity="viewport"
  >
    <div id="loader"></div>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <span class="loading-bar"></span>

    {% section 'announcement-bar' %}

    {%- unless request.page_type == 'cart' -%}
      {% section 'popups_custom' %}
    {%- endunless -%}

    {% section 'header_custom' %}

    {% if template.name == 'index' %}
      {% section 'announcement-bar-bottom' %}
    {% endif %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'newsletter' %}
    {% section 'footer-customizado' %}
    {% section 'footer-last-custom' %}
    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'general.accessibility.new_window' | t }}</li>
    </ul>

    {% render 'swymSnippet' %}
    {% render 'rivoSnippet' %}
    {% render 'subscribe-it-helper' %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const lazyBackgrounds = document.querySelectorAll('.lazy-bg');

        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              const element = entry.target;
              const bgUrl = element.getAttribute('data-bg');

              if (bgUrl) {
                element.style.backgroundImage = `url('${bgUrl}')`;
                element.removeAttribute('data-bg');
              }

              observer.unobserve(element);
            }
          });
        });

        lazyBackgrounds.forEach((bg) => observer.observe(bg));
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const anchors = document.querySelectorAll('.go_to_ebook');

        const onResize = () => {
          if (anchors.length > 0) {
            if (window.innerWidth > 1000) {
              anchors.forEach((anchor) => (anchor.href = '/pages/ebook-suplementacao#newsletter_custom'));
            } else {
              anchors.forEach((anchor) => (anchor.href = '/pages/ebook-suplementacao#newsletter_custom_mobile_1'));
            }
          }
        };

        onResize();

        window.addEventListener('resize', onResize);
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const allAnchors = document.querySelectorAll('a');

        allAnchors.forEach((anchor) => {
          const anchorLink = anchor.href.split('#')[1];

          anchor.addEventListener('click', function (e) {
            if (anchor.href.includes('#') && anchor.href.split('#')[0] === window.location.href.split('#')[0]) {
              e.preventDefault();

              const targetElement = document.getElementById(anchorLink);

              if (targetElement) {
                window.scrollTo({ top: targetElement.offsetTop - 100 });
              }
            }
          });
        });
      });
    </script>

    <script>
      window.addEventListener('click', function (e) {
        const btnIds = ['shopify-pc__banner__btn-accept', 'shopify-pc__prefs__header-accept'];

        if (btnIds.includes(e.target.id)) {
          localStorage.setItem('shopify_consent', 'granted');

          gtag('consent', 'update', {
            ad_storage: 'granted',
            analytics_storage: 'granted',
            personalization_storage: 'granted',
          });
        }
      });
    </script>

    <style>
      .bbcomments-block {
        margin: 2rem var(--desktop-container-gutter) !important;
      }

      #bbcomments-container {
        margin: 0 !important;
        padding: 0 !important;
      }

      .submitButton {
        background-color: #308a36 !important;
        border: none !important;
      }

      @media screen and (max-width: 1000px) {
        .bbcomments-block {
          margin: 1rem var(--mobile-container-gutter) !important;
        }
      }
    </style>
  </body>
</html>
