<style>
  #blog_consultas_custom {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 4rem var(--desktop-container-gutter);
    background-color: #ffbb12;
    border-radius: 1rem;
  }

  @media screen and (min-width: 1499px) {
    #blog_consultas_custom {
      margin: 4rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #blog_consultas_custom {
      margin: 4rem 18vw;
    }
  }

  #blog_consultas_custom > div {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 2rem;
    padding: 2rem;
    place-content: center;
    text-align: center;
  }

  #blog_consultas_custom > div > h1,
  #blog_consultas_custom > div > h3,
  #blog_consultas_custom > div > p {
    padding: 0;
    margin: 0;
    line-height: normal;
  }

  #blog_consultas_custom > div > h3 {
    font-size: 1.75rem;
  }

  #blog_consultas_custom > div > h1 {
    font-size: 2.75rem;
    font-weight: 900 !important;
  }

  #blog_consultas_custom > div > p {
    font-size: 1.25rem;
    font-weight: 500 !important;
  }

  #blog_consultas_custom > div > a {
    color: white;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    background-color: #258439;
    width: max-content;
    justify-self: center;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700 !important;
    transition: all 0.15s ease;
  }

  #blog_consultas_custom > div > a:hover {
    background-color: white;
    color: black;
  }

  #blog_consultas_custom > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 1rem 1rem 0;
  }

  @media screen and (max-width: 1599px) and (min-width: 1350px) {
    #blog_consultas_custom > div {
      gap: 1rem;
    }

    #blog_consultas_custom > div > h3 {
      font-size: 1.5rem;
    }

    #blog_consultas_custom > div > h1 {
      font-size: 2rem;
    }

    #blog_consultas_custom > div > p {
      font-size: 1.125rem;
    }

    #blog_consultas_custom > div > a {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 1349px) and (min-width: 1000px) {
    #blog_consultas_custom > div {
      gap: 1rem;
    }

    #blog_consultas_custom > div > h3 {
      font-size: 1.25rem;
    }

    #blog_consultas_custom > div > h1 {
      font-size: 1.5rem;
    }

    #blog_consultas_custom > div > p {
      font-size: 1rem;
    }

    #blog_consultas_custom > div > a {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 1000px) {
    #blog_consultas_custom {
      grid-auto-rows: max-content;
      grid-auto-flow: row;
      margin: 2rem var(--mobile-container-gutter);
    }

    #blog_consultas_custom > picture {
      order: 1;
    }

    #blog_consultas_custom > div > h3 {
      font-size: 1.25rem;
    }

    #blog_consultas_custom > div > h1 {
      font-size: 2rem;
    }

    #blog_consultas_custom > div > a {
      padding: 0.5rem 1rem;
    }

    #blog_consultas_custom > picture > img {
      border-radius: 1rem 1rem 0 0;
    }

    #blog_consultas_custom > div {
      order: 2;
    }
  }

  @media screen and (max-width: 369px) {
    #blog_consultas_custom > div {
      padding: 1rem;
    }

    #blog_consultas_custom > div > h1 {
      font-size: 1.5rem;
    }

    #blog_consultas_custom > div > p,
    #blog_consultas_custom > div > a {
      font-size: 0.875rem;
    }
  }
</style>

<section id="blog_consultas_custom">
  <div>
    {% unless section.settings.title == blank %}
      <h3>{{ section.settings.title }}</h3>
    {% endunless %}

    {% unless section.settings.description == blank %}
      {{ section.settings.description }}
    {% endunless %}

    {% unless section.settings.sub_description == blank %}
      {{ section.settings.sub_description }}
    {% endunless %}

    {% unless section.settings.btn_text == blank %}
      <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
    {% endunless %}
  </div>

  {% unless section.settings.image == blank %}
    <picture>
      <source media="(max-width: 1000px)" srcset="{{ section.settings.mobile_image | img_url: 'master' }}">
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        alt="Imagem"
        width="auto"
        height="auto"
      >
    </picture>
  {% endunless %}
</section>

{% schema %}
{
  "name": "Blog consultas",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descrição"
    },
    {
      "type": "richtext",
      "id": "sub_description",
      "label": "Frase"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Texto do botão"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link do botão"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagem"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Imagem mobile"
    }
  ],
  "presets": [
    {
      "name": "Blog consultas",
      "category": "Blog"
    }
  ]
}
{% endschema %}
