{% comment %}
  start blog-top-banner
{% endcomment %}
{% capture blog_top_banner %}
  <div class="section section--text-centered top_banner_blog_section" data-section-id="{{ section.id }}" data-section-type="rich-text">
    {%- if blog.articles_count > 0 -%}
    {%- for article in blog.articles limit: 1 -%}
    
    <div class="top_banner_blog_item">
      {%- if section.settings.blog_banner_image == blank -%}
      <img class="top_banner_blog_img lazyload image--fade-in" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}" data-src="{{ image_url }}" data-sizes="auto">
      {%- else -%}  
      <img class="top_banner_blog_img lazyload image--fade-in" src="{{ section.settings.blog_banner_image | img_url: 'master' }}" alt="{{ section.settings.blog_banner_image.alt }}" data-src="{{ image_url }}" data-sizes="auto">
      {% endif %}  
      <div class="overlay"></div>
    </div>
    <div class="container">
      
      {%- if section.settings.title == blank -%}
        <h2 class="heading h1 top_banner_blog_title"><a href="{{ article.url }}" class="link">{{ article.title | truncate: 70, "" | capitalize }}</a></h2>
      {%- else -%}  
        <h2 class="heading h1 top_banner_blog_title"><a href="{{ article.url }}" class="link">{{ section.settings.title | escape | capitalize }}</a></h2>
      {%- endif -%}
  
      {%- if section.settings.subtitle != blank -%}
        <div class="top_banner_blog_content">{{ section.settings.subtitle | escape }}</div>
      {% endif %} 
  
      <div class="top_banner_blog_info">
        {%- for tag in article.tags -%}
          {% if tag contains 'author' %}
            {% assign author = tag | split: "_" %}
            <a href="{{ blog.handle }}/tagged/{{ tag | handle }}">{{ author[1] }},
            </a>
          {% endif %}
        {%- endfor -%}

        <time>{{ article.published_at | time_tag: format: 'date' }}</time>        
      </div>
  
      {%- if section.settings.button_link == blank and section.settings.button_text -%}
        <a href="{{ article.url }}" class="top_banner_blog_btn button button--primary">{{ section.settings.button_text }}</a>
      {%- else -%}
        <a href="{{ section.settings.button_link }}" class="top_banner_blog_btn button button--primary">{{ section.settings.button_text }}</a>
      {% endif %} 
      </div>
  
    {%- endfor -%}
    {% endif %}
  
  </div>
{% endcapture %}
{% comment %}
  ================================================
  end blog-top-banner
{% endcomment %}

{% comment %}
  start blog-template
{% endcomment %}
{% capture blog_template %}
  <div data-section-id="{{ section.id }}" data-section-type="blog">
  {%- if section.settings.show_blog_heading -%}
    <header class="page__header">
      <h1 class="page__title heading h1">{{ blog.title }}</h1>
      {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
        {% unless current_tags.first contains 'author_' %}
          <ul class="page__tag-list hidden-pocket" role="list">
            <li class="page__tag-item link {% if current_tags == blank %}is-selected{% endif %}">
              <a href="{{ blog.url }}">{{ 'blog.general.all_tag' | t }}</a>
            </li>

            {%- for tag in blog.all_tags -%}
              <li class="page__tag-item link {% if current_tags contains tag %}is-selected{% endif %}">
                {{ tag | link_to_tag: tag }}
              </li>
            {%- endfor -%}
          </ul>

          <div class="page__action-list hidden-lap-and-up">
            <div class="value-picker-wrapper">
              <button
                class="value-picker-button"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="blog-tag-selector"
                data-action="open-value-picker">
                {%- if current_tags == blank -%}
                  {{- 'blog.general.all_tag' | t -}}
                {%- else -%}
                  {{- current_tags.first -}}
                {%- endif -%}

                {%- render 'icon', icon: 'arrow-bottom' -%}
              </button>

              <div
                id="blog-tag-selector"
                class="value-picker"
                aria-hidden="true">
                {% render 'icon', icon: 'nav-triangle-borderless' %}

                <div class="value-picker__inner">
                  <header class="value-picker__header">
                    <span class="value-picker__title text--strong">{{ 'blog.general.categories' | t }}</span>
                    <button
                      class="value-picker__close"
                      data-action="close-value-picker"
                      aria-controls="blog-tag-selector"
                      aria-label="{{ 'general.accessibility.close' | t }}">
                      {% render 'icon', icon: 'close' %}
                    </button>
                  </header>

                  <div class="value-picker__choice-list">
                    <a href="/blogs/{{ blog.handle }}" class="value-picker__choice-item {% if current_tags == blank %}is-selected{% endif %}">
                      {{- 'blog.general.all_tag' | t }}
                      {% render 'icon', icon: 'check-2' -%}
                    </a>

                    {%- for tag in blog.all_tags -%}
                      <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="value-picker__choice-item {% if current_tags contains tag %}is-selected{% endif %}">
                        {{- tag }}
                        {% render 'icon', icon: 'check-2' -%}
                      </a>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endunless %}
      {%- endif -%}
    </header>
  {%- endif -%}

  {%- if blog.articles_count == 0 -%}
    <div class="empty-state">
      <p class="empty-state__heading heading h1">{{ blog.title }}</p>
      <p class="empty-state__description">{{ 'blog.general.empty' | t }}</p>

      <div class="empty-state__button-container">
        <a href="{{ routes.root_url }}" class="empty-state__button button button--primary">
          {{- 'blog.general.empty_button' | t -}}
        </a>
      </div>
    </div>
  {%- else -%}
    {%- assign articles_per_page = section.settings.articles_per_page -%}
    {%- assign modulo = articles_per_page | modulo: 2 -%}

    {%- if section.settings.highlight_first_article and modulo == 0 and current_tags == blank -%}
      {%- assign articles_per_page = articles_per_page | plus: 1 -%}
    {%- endif -%}

    <div class="block-list-featured-blog">
      {%- for article in blog.articles limit: 2 -%}
        {% if forloop.index == 2 %}
          {%- render 'article-item', article: article, featured: true -%}
        {% endif %}
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="blog_template_article_layout">
    {%- paginate blog.articles by articles_per_page -%}
      <div class="blog_template_article_layout_columns">
        <div class="article-block-list block-list--loose block-list--no-flush">
          {%- for article in blog.articles -%}
             {%- render 'article-item', article: article, featured: false -%}
          {%- endfor -%}
        </div>
      </div>

      <div class="blog_template_pagination">
        {%- render 'pagination', paginate: paginate -%}
      </div>
    {%- endpaginate -%}
  </div>
</div>

{% endcapture %}
{% comment %}
  ================================================
  end blog-template
{% endcomment %}

{% comment %}
  start blog-sidebar
{% endcomment %}
{% capture blog_sidebar %}
  {%- if section.blocks.size > 0 -%}
    <div class="shopify-section__blog-sidebar">
      <div
        class="blog-sidebar"
        data-section-id="{{ section.id }}"
        data-section-type="blog-sidebar">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'newsletter' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--newsletter"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              <style>
                #block-{{ block.id }}{
                  background: {{ block.settings.background }}
                  ;
                  color: {{ block.settings.text }}
                  ;
                }
              </style>
    
              {%- if block.settings.title != blank -%}
                <h2 class="heading h3 newsletter_title">{{ block.settings.title | escape }}</h2>
              {%- endif -%}
    
              {%- if block.settings.content != blank -%}
                <div class="rte newsletter_text sidebar_newsletter_text">
                  {{ block.settings.content }}
                </div>
              {%- endif -%}
    
              {%- assign newsletter_id = 'newsletter-' | append: block.id -%}
    
              <div class="newsletter newsletter--compact">
                {%- form 'customer', id: newsletter_id, class: 'form newsletter__form' -%}
                  {%- if form.posted_successfully? -%}
                    <p class="alert alert--success">Foi registado com sucesso na nossa newsletter!</p>
                  {%- else -%}
                    {%- if form.errors -%}
                      <p class="alert alert--error">{{ form.errors.messages['email'] }}</p>
                    {%- endif -%}
    
                    <input
                      type="hidden"
                      name="contact[tags]"
                      value="newsletter">
    
                    <div class="form__input-wrapper form__input-wrapper--labelled">
                      <input
                        type="email"
                        name="contact[email]"
                        class="form__field form__field--text form__field--borderless form-no-padding"
                        aria-label="{{ 'home_page.newsletter.input' | t }}"
                        required>
                      <label for="newsletter[contact][email]" class="form__floating-label">{{ 'home_page.newsletter.input' | t }}</label>
    
                      {%- if block.settings.text_gdpr != blank -%}
                        <div class="gdpr_container">
                          <input
                            type="checkbox"
                            id="accept_gdpr"
                            name="accept_gdpr"
                            value="Accept GDPR"
                            required>
                          <label
                            for="newsletter[contact][email]"
                            class="rte newsletter_gdpr"
                            required>{{ block.settings.text_gdpr }}</label>
                        </div>
                      {%- endif -%}
                    </div>
    
    
    
                    <button type="submit" class="form__submit form__submit--tight button button--primary button--full">{{ 'home_page.newsletter.submit' | t }}</button>
                  {%- endif -%}
                {%- endform -%}
    
                {%- if block.settings.subtext != blank -%}
                  <p class="newsletter__text">{{ block.settings.subtext | escape }}</p>
                {%- endif -%}
              </div>
            </div>
    
            {%- when 'featured_posts' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--posts"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <p class="blog-sidebar__block-title heading h3">{{ block.settings.title | escape }}</p>
              {%- endif -%}
    
              <ol class="blog-sidebar__post-list {% if block.settings.show_ranking %}blog-sidebar__post-list--ranked{% endif %}" role="list">
                {%- assign show_placeholder = true -%}
    
                {%- for i in (1..5) -%}
                  {%- assign article_option = 'article_' | append: i -%}
                  {%- assign article = articles[block.settings[article_option]] -%}
    
                  {%- unless article.empty? -%}
                    <li class="blog-sidebar__post-item">
                      {%- if article.image -%}
                        <a href="{{ article.url }}" class="blog-sidebar__post-image-wrapper">
                          <div class="blog-sidebar__post-image-overflow">
                            <img
                              src="{{ article.image | img_url: '100x80', crop: 'center', scale: 2 }}"
                              alt="{{ article.image.alt | escape }}"
                              class="blog-sidebar__post-image">
                          </div>
                        </a>
                      {%- endif -%}
    
                      <div class="blog-sidebar__post-info">
                        <a class="blog-sidebar__post-title text--strong link" href="{{ article.url }}">{{ article.title }}</a>
    
                        {%- if block.settings.show_date or block.settings.show_category and article.tags.size > 0 -%}
                          <div class="blog-sidebar__post-meta">
                            {%- if block.settings.show_author -%}
                              {%- for tag in article.tags -%}
                                {% if tag contains 'author' %}
                                  {% assign author = tag | split: "_" %}
                                  <a href="{{ blog.handle }}/tagged/{{ tag | handle }}">{{ author[1] }},
                                  </a>
                                {% endif %}
                              {%- endfor -%}
    
                            {%- endif -%}
    
                            {%- if block.settings.show_date -%}
                              <span>{{ article.published_at | date: "%d %b %Y" }}</span>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    </li>
    
                    {%- assign show_placeholder = false -%}
                  {%- endunless -%}
                {%- endfor -%}
    
                {%- if show_placeholder -%}
                  {%- for i in (1..3) -%}
                    <li class="blog-sidebar__post-item">
                      {%- if article.image -%}
                        <a href="#" class="blog-sidebar__post-image-wrapper">
                          <div class="blog-sidebar__post-image-overflow">
                            {%- capture placeholder -%}
                              {% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                            {{ placeholder | placeholder_svg_tag: 'blog-sidebar__post-placeholder placeholder-svg' }}
                          </div>
                        </a>
                      {%- endif -%}
    
                      <div class="blog-sidebar__post-info">
                        <a class="blog-sidebar__post-title text--strong" href="#">{{ 'home_page.onboarding.article_title' | t }}</a>
    
                        {%- if block.settings.show_date or block.settings.show_category -%}
                          <div class="blog-sidebar__post-meta">
                            {%- if block.settings.show_category -%}
                              <span class="blog-sidebar__post-meta-item">{{ 'home_page.onboarding.article_category' | t }}</span>
                            {%- endif -%}
    
                            {%- if block.settings.show_date -%}
                              <span class="blog-sidebar__post-meta-item">{{ 'now' | date: format: 'short_month_day_year' }}</span>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    </li>
                  {%- endfor -%}
                {%- endif -%}
              </ol>
            </div>
    
            {%- when 'rich_text' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--text"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <p class="blog-sidebar__block-title heading h3">{{ block.settings.title | escape }}</p>
              {%- endif -%}
    
              {%- if block.settings.content != blank -%}
                <div class="rte text--pull">
                  {{ block.settings.content }}
                </div>
              {%- endif -%}
            </div>
    
            {%- when 'featured_products' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--products"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <p class="blog-sidebar__block-title heading h3">{{ block.settings.title | escape }}</p>
              {%- endif -%}
    
              <div class="product-list product-list--horizontal">
                {%- assign show_placeholder = true -%}
    
                {%- for i in (1..3) -%}
                  {%- assign product_option = 'product_' | append: i -%}
                  {%- assign product = all_products[block.settings[product_option]] -%}
    
                  {%- unless product.empty? -%}
                    {% render 'product-item', product: product, horizontal: true %}
                    {%- assign show_placeholder = false -%}
                  {%- endunless -%}
                {%- endfor -%}
    
                {%- if show_placeholder -%}
                  {%- for i in (1..2) -%}
                    {% render 'product-item-placeholder', horizontal: true %}
                  {%- endfor -%}
                {%- endif -%}
              </div>
            </div>
    
            {%- when 'links' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--menu"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              {%- assign menu = linklists[block.settings.menu] -%}
    
              {%- unless menu.empty? -%}
                <p class="blog-sidebar__block-title heading h3">{{ menu.title }}</p>
    
                <ul class="blog-sidebar__linklist" role="list">
                  {%- for link in menu.links -%}
                    <li class="blog-sidebar__link-item">
                      <a href="{{ link.url }}" class="text--strong link">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endunless -%}
            </div>
    
            {%- when 'social_media' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--social"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <p class="blog-sidebar__block-title heading h3">{{ block.settings.title | escape }}</p>
              {%- endif -%}
    
              {%- capture social_media -%}
                {% render 'social-media', show_social_media_name: false %}{%- endcapture -%}
    
              {%- if social_media != blank -%}
                <div class="blog-sidebar__social-list">
                  {{ social_media }}
                </div>
              {%- endif -%}
            </div>
    
            {%- when 'image' -%}
            <div
              class="blog-sidebar__item blog-sidebar__item--image"
              id="block-{{ block.id }}"
              {{ block.shopify_attributes }}>
              {%- if block.settings.blog_sidebar_image_url != blank -%}
                <a href="{{ block.settings.blog_sidebar_image_url  }}">
                {%- endif -%}
                <img src="{{ block.settings.blog_sidebar_image | img_url: 'master' }}" alt="{{ block.settings.blog_sidebar_image.alt }}" />
                {%- if block.settings.blog_sidebar_image_url != blank -%}
                </a>
              {%- endif -%}
            </div>
    
            {%- when 'show_tags' -%}
              <div
                class="blog-sidebar__item blog-sidebar__item--tags"
                id="block-{{ block.id }}"
                {{ block.shopify_attributes }}>
                <p class="blog-sidebar__block-title heading h3">{{ block.settings.blog_sidebar_tags_title }}</p>
                {%- for tag in blog.all_tags -%}
                  {% unless tag contains 'author' or tag contains 'dificuldade' or tag contains 'doses' or tag contains 'duracao' %}
                    <li class="page__tag-item">
                      <button class="button button--primary">
                        <a href="/blogs/blog-page/tagged/{{ tag | handle }}" title="Mostrar artigos de {{ tag }}">{{ tag }}</a>
                      </button>
                    </li>
                  {% endunless %}
                {%- endfor -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- else -%}
      {%- comment -%}
      If sidebar is not visible, then we must do some adjustments to the grid of article (especially, we must change how many items per row are displayed).
      Because Shopify sections are independent, I didn't find a better approach than changing it in JavaScript
      {%- endcomment -%}
      <div data-section-id="{{ section.id }}" data-section-type="blog-sidebar">
        {%- if template.name == 'blog' -%}
          <script>
            document.querySelector('.blog-container').classList.add('blog-container--without-sidebar');
            document.querySelectorAll('.shopify-section__blog-posts .block-list__item').forEach(function(item) {
              if (item.classList.contains('1/2--lap-and-up')) {
                item.classList.remove('1/2--lap-and-up');
                item.classList.add('1/3--lap-and-up');
              }
            });
          </script>
        {%- elsif template.name == 'article' -%}
          <style>
            .page__header {
              max-width: 980px;
              margin-left: auto;
              margin-right: auto;
            }
          </style>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
{% endcapture %}
{% comment %}
  ================================================
  end blog-sidebar
{% endcomment %}

{% comment %}
  ================================================
  start blog_list
  ================================================
{% endcomment %}
{% capture blog_list %}
  <div data-section-id="{{ section.id }}" data-section-type="blog" class="article-list-cat container">
  {% assign url = canonical_url | split: "/" | last %}
  {% assign cat = url | split: '_' | last | replace: '-', ' ' %}

  {%- if section.settings.list_show_blog_heading -%}
    <header class="article_page_title">
      <h1 class="page__title heading h1">Categoria:
        <span>{{ cat }} </span>
      </h1>

      {%- if section.settings.list_show_tags and blog.all_tags.size > 0 -%}
        <ul class="page__tag-list hidden-pocket" role="list">
          <li class="page__tag-item link {% if current_tags == blank %}is-selected{% endif %}">
            <a href="{{ blog.url }}">{{ 'blog.general.all_tag' | t }}</a>
          </li>

          {%- for tag in blog.all_tags -%}
            <li class="page__tag-item link {% if current_tags contains tag %}is-selected{% endif %}">{{ tag | link_to_tag: tag }}</li>
          {%- endfor -%}
        </ul>

        <div class="page__action-list hidden-lap-and-up">
          <div class="value-picker-wrapper">
            <button
              class="value-picker-button"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="blog-tag-selector"
              data-action="open-value-picker">
              {%- if current_tags == blank -%}
                {{- 'blog.general.all_tag' | t -}}
              {%- else -%}
                {{- current_tags.first -}}
              {%- endif -%}

              {%- render 'icon', icon: 'arrow-bottom' -%}
            </button>

            <div
              id="blog-tag-selector"
              class="value-picker"
              aria-hidden="true">
              {% render 'icon', icon: 'nav-triangle-borderless' %}

              <div class="value-picker__inner">
                <header class="value-picker__header">
                  <span class="value-picker__title text--strong">{{ 'blog.general.categories' | t }}</span>
                  <button
                    class="value-picker__close"
                    data-action="close-value-picker"
                    aria-controls="blog-tag-selector"
                    aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
                </header>

                <div class="value-picker__choice-list">
                  <a href="/blogs/{{ blog.handle }}" class="value-picker__choice-item {% if current_tags == blank %}is-selected{% endif %}">{{ 'blog.general.all_tag' | t }} {% render 'icon', icon: 'check-2' %}</a>

                  {%- for tag in blog.all_tags -%}
                    <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="value-picker__choice-item {% if current_tags contains tag %}is-selected{% endif %}">{{ tag }} {% render 'icon', icon: 'check-2' %}</a>
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </header>
  {%- endif -%}

  {%- if blog.articles_count == 0 -%}
    <div class="empty-state">
      <p class="empty-state__heading heading h1">{{ blog.title }}</p>
      <p class="empty-state__description">{{ 'blog.general.empty' | t }}</p>

      <div class="empty-state__button-container">
        <a href="{{ routes.root_url }}" class="empty-state__button button button--primary">{{ 'blog.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
    {%- assign articles_per_page = section.settings.list_articles_per_page -%}
    {%- assign modulo = articles_per_page | modulo: 2 -%}

    {%- if section.settings.list_highlight_first_article and modulo == 0 and current_tags == blank -%}
      {%- assign articles_per_page = articles_per_page | plus: 1 -%}
    {%- endif -%}

  {%- endif -%}

  {%- paginate blog.articles by articles_per_page -%}
    {%- for tag in blog.all_tags -%}
      {% if current_tags contains tag %}
        <nav class="breadcrumb_articles_list">
          <a href="/">{{ shop.name }}</a>
          <span> &gt; </span>
          <a href="{{ blog.url }}">Blog</a>
          <span> &gt; </span>
          {%- for tag in blog.all_tags -%}
            {% if current_tags contains tag %}
              {% unless canonical_url contains 'author' %}
                <span class="tag">{{ tag }}</span>
              {% endunless %}
            {% endif %}
          {%- endfor -%}
        </nav>
        <h1 class="articles-category-title">Categoria:
          <span class="articles-category">{{ tag }}</span>
        </h1>
      {% endif %}
    {%- endfor -%}
      {% unless canonical_url contains 'tagged' %}
        <div class="article-block-list block-list--loose block-list--no-flush">
          {%- for article in blog.articles offset: 2 -%}
            {%- render 'article-item', article: article, featured: false -%}
          {%- endfor -%}
        </div>
      {% else %}
        <div class="article-block-list block-list--loose block-list--no-flush ">
          {%- for article in blog.articles -%}
            {%- render 'article-item', article: article, featured: false -%}
          {%- endfor -%}
        </div>
      {% endunless %}
    {%- render 'pagination', paginate: paginate -%}
  {%- endpaginate -%}
  </div>


{% endcapture %}

{% unless canonical_url contains 'tagged' %}
  {{ blog_top_banner }}
  <div class="container">
    <div class="blog-container">
      {{ blog_template }}
      {%- if blog.articles_count > 0 -%}
        {{ blog_sidebar }}
      {%- endif -%}
    </div>
  </div>
{% else %}
  <div class="container">
    {% if current_tags.first contains 'author_' %}
      <nav class="breadcrumb_articles_list">
        <a href="/">{{ shop.name }}</a>
        <span> &gt; </span>
        <a href="{{ blog.url }}">Blog</a>
        <span> &gt; </span>
        {%- for tag in blog.all_tags -%}
          {% if current_tags contains tag %}
            {% if canonical_url contains 'author' %}
              <span class="tag">
                {%- assign author = tag | split: '_' %}
                {{ author[1] }}
              </span>
            {% endif %}
          {% endif %}
        {%- endfor -%}
      </nav>
      <header class="page__header">
        <div class="article-author__meta">
          {% assign tag_handle = current_tags | split: '_' | last | handleize %}
          <div class="article-author__meta-image">
            <img
              src="{{ shop.metaobjects['autores'][tag_handle].thumbnail.value | img_url: "400x400" }}"
              alt="{{ shop.metaobjects['autores'][tag_handle].nome.value }}"
            >
          </div>
          {% if shop.metaobjects.autores[tag_handle].descricao.value != 'blank' %}
            <div class="article-author__meta-content">
              <div class="article-author__meta-details">
                <h1 class="article-author__meta-title heading h1">
                  {{ shop.metaobjects.autores[tag_handle].nome.value }}
                </h1>
                {% if shop.metaobjects.autores[tag_handle].profissao.value != 'blank' %}
                  <p class="article-author__profession">
                    {{ shop.metaobjects.autores[tag_handle].profissao.value }}
                  </p>
                {% endif %}
                {% if shop.metaobjects.autores[tag_handle].cedula_profissional.value != 'blank' %}
                  <p class="article-author__cedula_profissional">
                    {{ shop.metaobjects.autores[tag_handle].cedula_profissional.value }}
                  </p>
                {% endif %}
              </div>
              <p class="article-author__description">
                {{ shop.metaobjects.autores[tag_handle].descricao.value }}
              </p>
            </div>
          {% endif %}
        </div>
      </header>
    {% else %}
      {{ blog_list }}
    {% endif %}
  </div>
{% endunless %}

<script>
  // Due to the presence of the possible sidebar, we have to move the header outside the section

  {% comment %}
  document.querySelector('.blog-container')?.insertAdjacentElement('beforebegin', document.querySelector('#shopify-section-' + {{ section.id | json }} + ' .page__header'));
  {% endcomment %}
</script>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "header",
      "content": "Top Banner",
      "info": "Top Banner Settings"
    },
    {
      "type": "image_picker",
      "id": "blog_banner_image",
      "label": "Blog banner image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog Bioself"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Content text",
      "default": "Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Ler artigo"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "Content Settings"
    },
    {
      "type": "checkbox",
      "id": "show_blog_heading",
      "label": "Show blog heading",
      "info": "Display blog Category and title",
      "default": false
    },
    {
      "type": "range",
      "id": "articles_per_page",
      "min": 4,
      "max": 30,
      "step": 1,
      "label": "Posts per page",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": false
    },
    {
      "type": "header",
      "content": "Sidebar",
      "info": "Sidebar Settings"
    },
    {
      "type": "paragraph",
      "content": "Sidebar Content is managed with Blocks!"
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Tag and Author Page",
      "info": "Tag and Author Page Settings"
    },
    {
      "type": "checkbox",
      "id": "list_show_blog_heading",
      "label": "Show blog heading",
      "info": "Display blog Category and title",
      "default": false
    },
    {
      "type": "range",
      "id": "list_articles_per_page",
      "min": 4,
      "max": 30,
      "step": 1,
      "label": "Posts per page",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "list_show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "list_show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    }, {
      "type": "checkbox",
      "id": "list_show_author",
      "label": "Show author",
      "default": true
    }, {
      "type": "checkbox",
      "id": "list_show_date",
      "label": "Show date",
      "default": true
    }, {
      "type": "checkbox",
      "id": "list_show_excerpt",
      "label": "Show excerpt",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Join Us"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        },
        {
          "type": "richtext",
          "id": "text_gdpr",
          "label": "Text gdpr",
          "default": "<p>Aceito a Política de Privacidade e os Termos e Condições</p>"
        }, {
          "type": "text",
          "id": "subtext",
          "label": "Sub-text",
          "default": "100% free, Unsubscribe any time!"
        }, {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#1e2d7d"
        }, {
          "type": "color",
          "id": "text",
          "label": "Text",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show image with link"
        }, {
          "type": "image_picker",
          "id": "blog_sidebar_image",
          "label": "Image"
        }, {
          "type": "url",
          "id": "blog_sidebar_image_url",
          "label": "Image url"
        }
      ]
    },
    {
      "type": "show_tags",
      "name": "Show tags",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "blog_sidebar_tags_title",
          "label": "Heading",
          "default": "Categorias"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Make sure to have properly configured your social media in the theme settings."
        }, {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        }, {
          "type": "checkbox",
          "id": "show_rss",
          "label": "Show RSS",
          "default": true
        }
      ]
    }, {
      "type": "featured_posts",
      "name": "Blog posts",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Popular posts"
        },
        {
          "type": "checkbox",
          "id": "show_ranking",
          "label": "Show ranking",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_category",
          "label": "Show category",
          "info": "The first article's tag will be shown as category.",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "label": "Show author",
          "default": true
        }, {
          "type": "checkbox",
          "id": "show_date",
          "label": "Show date",
          "default": true
        }, {
          "type": "article",
          "id": "article_1",
          "label": "Blog post 1"
        }, {
          "type": "article",
          "id": "article_2",
          "label": "Blog post 2"
        }, {
          "type": "article",
          "id": "article_3",
          "label": "Blog post 3"
        }, {
          "type": "article",
          "id": "article_4",
          "label": "Blog post 4"
        }, {
          "type": "article",
          "id": "article_5",
          "label": "Blog post 5"
        }
      ]
    }, {
      "type": "rich_text",
      "name": "Rich text",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your text"
        }, {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>You can use this text to write about your brand.</p>"
        }
      ]
    }, {
      "type": "featured_products",
      "name": "Featured products",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Featured products"
        }, {
          "type": "product",
          "id": "product_1",
          "label": "Product 1"
        }, {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        }, {
          "type": "product",
          "id": "product_3",
          "label": "Product 3"
        }
      ]
    }, {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Rich text",
      "settings": {}
    }
  ]
}
{% endschema %}
