<style>
  #blog_visitas_custom {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 4rem var(--desktop-container-gutter);
    background-color: #258439;
    border-radius: 1rem;
  }

  @media screen and (min-width: 1499px) {
    #blog_visitas_custom {
      margin: 4rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #blog_visitas_custom {
      margin: 4rem 18vw;
    }
  }

  #blog_visitas_custom > div {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 2rem;
    padding: 2rem;
    place-content: center;
    text-align: center;
  }

  #blog_visitas_custom > div > h1,
  #blog_visitas_custom > div > h3,
  #blog_visitas_custom > div > p {
    padding: 0;
    margin: 0;
    line-height: normal;
    color: white;
  }

  #blog_visitas_custom > div > img {
    justify-self: center;
  }

  #blog_visitas_custom > div > h3 {
    font-size: 1.75rem;
  }

  #blog_visitas_custom > div > h1 {
    font-size: 2.5rem;
    font-weight: 900 !important;
  }

  #blog_visitas_custom > div > p {
    font-size: 1.25rem;
    font-weight: 500 !important;
  }

  #blog_visitas_custom > div > a {
    color: white;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    background-color: #ffbb12;
    width: max-content;
    justify-self: center;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700 !important;
    border: 1px solid transparent;
    transition: all 0.15s ease;
    color: black;
  }

  #blog_visitas_custom > div > a:hover {
    border-color: #ffbb12;
    background-color: transparent;
    color: white;
  }

  #blog_visitas_custom > picture {
    width: 100%;
  }

  #blog_visitas_custom > picture > img {
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 1001px) {
    #blog_visitas_custom > picture > img {
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,100 C10,75 20,25 20,0 L100,0 L100,100 Z' fill='black'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,100 C10,75 20,25 20,0 L100,0 L100,100 Z' fill='black'/%3E%3C/svg%3E");
      mask-size: 100% 100%;
      -webkit-mask-size: 100% 100%;
    }
  }

  @media screen and (max-width: 1599px) and (min-width: 1350px) {
    #blog_visitas_custom > div {
      gap: 1rem;
    }

    #blog_visitas_custom > div > h3 {
      font-size: 1.5rem;
    }

    #blog_visitas_custom > div > h1 {
      font-size: 2rem;
    }

    #blog_visitas_custom > div > p {
      font-size: 1.125rem;
    }

    #blog_visitas_custom > div > a {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 1349px) and (min-width: 1000px) {
    #blog_visitas_custom > div {
      gap: 1rem;
    }

    #blog_visitas_custom > div > h3 {
      font-size: 1.25rem;
    }

    #blog_visitas_custom > div > h1 {
      font-size: 1.5rem;
    }

    #blog_visitas_custom > div > p {
      font-size: 1rem;
    }

    #blog_visitas_custom > div > a {
      font-size: 0.875rem;
    }
  }

  @media screen and (max-width: 1000px) {
    #blog_visitas_custom {
      grid-auto-rows: max-content;
      grid-auto-flow: row;
      margin: 2rem var(--mobile-container-gutter);
    }

    #blog_visitas_custom > picture {
      order: 1;
    }

    #blog_visitas_custom > div > h3 {
      font-size: 1.25rem;
    }

    #blog_visitas_custom > div > h1 {
      font-size: 2rem;
    }

    #blog_visitas_custom > div > a {
      padding: 0.5rem 1rem;
    }

    #blog_visitas_custom > picture {
      width: 100%;
    }

    #blog_visitas_custom > picture > img {
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 L0,100 C25,80 75,80 100,100 L100,0 Z' fill='black'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 L0,100 C25,80 75,80 100,100 L100,0 Z' fill='black'/%3E%3C/svg%3E");
      mask-size: 100% 100%;
      -webkit-mask-size: 100% 100%;
      border-radius: 1rem 1rem 0 0;
    }

    #blog_visitas_custom > div {
      padding-top: 0;
      order: 2;
    }
  }

  @media screen and (max-width: 369px) {
    #blog_visitas_custom > div {
      padding: 1rem;
    }

    #blog_visitas_custom > div > h1 {
      font-size: 1.5rem;
    }

    #blog_visitas_custom > div > p,
    #blog_visitas_custom > div > a {
      font-size: 0.875rem;
    }
  }
</style>

<section id="blog_visitas_custom">
  <div>
    {% unless section.settings.logo == blank %}
      <img
        src="{{ section.settings.logo | img_url: 'master' }}"
        alt="Logo"
        width="auto"
        height="auto"
      >
    {% endunless %}

    {% unless section.settings.description == blank %}
      {{ section.settings.description }}
    {% endunless %}

    {% unless section.settings.sub_description == blank %}
      {{ section.settings.sub_description }}
    {% endunless %}

    {% unless section.settings.btn_text == blank %}
      <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
    {% endunless %}
  </div>

  {% unless section.settings.image == blank %}
    <picture>
      <source media="(max-width: 1000px)" srcset="{{ section.settings.mobile_image | img_url: 'master' }}">
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        alt="Imagem"
        width="auto"
        height="auto"
      >
    </picture>
  {% endunless %}
</section>

{% schema %}
{
  "name": "Blog visita",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Selecione a imagem"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descrição"
    },
    {
      "type": "richtext",
      "id": "sub_description",
      "label": "Frase"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Texto do botão"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link do botão"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagem"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Imagem mobile"
    }
  ],
  "presets": [
    {
      "name": "Blog visita",
      "category": "Blog"
    }
  ]
}
{% endschema %}
