{% assign icon_collection = section.blocks | where: 'type', 'Icon' %}

<style>
  #blog-nav {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 3rem;
    margin: 4rem var(--desktop-container-gutter);
    justify-content: center;
    text-align: center;
  }

  #blog-nav > h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    line-height: normal;
  }

  #blog-nav > nav {
    display: grid;
  }

  #blog-nav > nav > ul {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 4rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #blog-nav > nav > ul > li {
    display: grid;
    padding: 0;
    margin: 0;
    min-width: max-content;
  }

  #blog-nav > nav > ul > li > a {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1.5rem;
    justify-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  #blog-nav > nav > ul > li > a > div {
    display: grid;
    justify-items: center;
    border: 2px solid #ffbb12;
    border-radius: 50%;
    padding: 1.5rem;
  }

  #blog-nav > nav > ul > li > a > span {
    padding: 0.5rem 1rem;
    background-color: #258439;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 0.15s ease;
  }

  #blog-nav > nav > ul > li > a > span:hover {
    background-color: #ffbb12;
    color: black;
  }

  #blog-nav > nav > ul > li > a > div > img {
    width: 55px;
    height: 55px;
    object-fit: contain;
  }

  @media screen and (max-width: 1599px) and (min-width: 1250px) {
    #blog-nav {
      gap: 2rem;
    }

    #blog-nav > h1 {
      font-size: 1.75rem;
    }

    #blog-nav > nav > ul > li > a > span {
      font-size: 1rem;
    }

    #blog-nav > nav > ul > li > a > div > img {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: 1249px) and (min-width: 1000px) {
    #blog-nav {
      gap: 2rem;
    }

    #blog-nav > h1 {
      font-size: 1.5rem;
    }

    #blog-nav > nav > ul > li > a > span {
      font-size: 0.875rem;
    }

    #blog-nav > nav > ul > li > a > div > img {
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (min-width: 1499px) {
    #blog-nav {
      margin: 4rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #blog-nav {
      margin: 4rem 18vw;
    }
  }

  @media screen and (max-width: 1000px) {
    #blog-nav {
      margin: 2rem var(--mobile-container-gutter);
      gap: 1.5rem;
    }

    #blog-nav > nav > ul {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      list-style-type: none;
      gap: 1rem;
      scrollbar-width: none;
    }

    #blog-nav > nav > ul > li > a > div > img {
      width: 35px;
      height: 35px;
    }

    #blog-nav > h1 {
      font-size: 1.5rem;
    }

    #blog-nav > nav > ul > li > a > span {
      font-size: 0.875rem;
    }
  }
</style>

<section id="blog-nav">
  {% unless section.settings.title == blank %}
    <h1>{{ section.settings.title }}</h1>
    <script>
      const blogNavCustom = document.querySelector('#blog-nav');

      if (blogNavCustom) {
        const h1Blog = blogNavCustom.querySelector('h1');

        if (h1Blog) {
          const text = h1Blog.textContent.trim();
          const words = text.split(' ');

          if (words.length > 0) {
            words[0] = `<span style="color:#258439">${words[0]}</span>`;
            h1Blog.innerHTML = words.join(' ');
          }
        }
      }
    </script>
  {% endunless %}

  {% unless section.settings.selected_blog == blank %}
    <nav>
      <ul>
        {%- for tag in blog.all_tags -%}
          {% unless tag contains 'author'
            or tag contains 'dificuldade'
            or tag contains 'doses'
            or tag contains 'duracao'
          %}
            {% for icon_block in icon_collection %}
              {% if icon_block.settings.label == tag %}
                <li class="page__tag-item">
                  {% assign tag_handle = tag | handleize %}
                  <a href="{{ section.settings.selected_page | default: '/pages/blog-categorias'}}#{{ tag_handle }}">
                    <div>
                      <img
                        src="{{ icon_block.settings.icon | image_url: width: 68, height: 68 }}"
                        alt="{{ tag }}"
                        width="55"
                        height="55"
                      >
                    </div>
                    <span>{{ tag }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endunless %}
        {%- endfor -%}
      </ul>
    </nav>
  {% endunless %}
</section>

{% schema %}
{
  "name": "Blog nav",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título"
    },
    {
      "type": "blog",
      "id": "selected_blog",
      "label": "Blogue"
    },
    {
      "type": "page",
      "id": "selected_page",
      "label": "Página das categorias"
    }
  ],
  "blocks": [
    {
      "type": "Icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícone"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Nome da categoria"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog nav",
      "category": "Blog"
    }
  ]
}
{% endschema %}
