<section class="section mosaic-section {% if section.settings.show_only_mobile != blank %} hidden-lap-and-up {% endif %} {% if section.settings.show_only_desktop != blank %} hidden-pocket {% endif %}" data-section-id="{{ section.id }}" data-section-type="mosaic">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <div class="section__header-stack">
        <h2 class="section__title heading h3">{{ section.settings.title | default: collection.title | escape }}</h2>

        {%- if section.settings.title_button != blank -%}
          <div class="section_title_button_container">
            <a href="{{ section.settings.link_url | default: collection.url | default: '#' }}">
            <button class="section_title_button">
              {{ section.settings.title_button }}
            </button>
            </a>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="collection_blocks_list_container">
      {%- if section.blocks.size > 0 -%}
      <div class="collection_blocks_list">
        {%- for block in section.blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}
          <a href="{{ collection.url }}">
          <div id="block-{{ block.id }}" class="collection_block_list_item"
          style="background-image: url('{{ block.settings.image | img_url: '400x' }}');
                background-size: cover;
                background-position: center;">

            {%- if block.settings.show_title != blank -%}    
              <h2 class="collection_block_list_item_title">{{ collection.title }}</h2>
            {% endif %}

          </div>
          </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {%- if section.settings.mobile_button_text != blank -%}
      <div class="section_title_button_container_mobile">
        <button class="section_title_button_mobile">
          {{ section.settings.mobile_button_text }}
        </button>
      </div>
    {%- endif -%}
  </div>
</section>


<style>
  #shopify-section-{{ section.id }} .section__header-stack {
      margin-bottom: 20px;
  }

  #shopify-section-{{ section.id }} .collection_blocks_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 13px;
  }

  #shopify-section-{{ section.id }} .collection_block_list_item {
      height: 300px;
      max-width: 400px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
  }

  #shopify-section-{{ section.id }} h2.collection_block_list_item_title {
    font-size: 25px;
    color: #fff;
    padding-top: 40px;
    font-family: 'RedHatDisplay';
  }

  #shopify-section-{{ section.id }} button.section_title_button_mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
  #shopify-section-{{ section.id }}  button.section_title_button {
    display: none;
  }

  #shopify-section-{{ section.id }} button.section_title_button_mobile {
    display: block;
  }

  #shopify-section-{{ section.id }} .section__header-stack {
      margin-bottom: 10px;
  }

  #shopify-section-{{ section.id }} .collection_blocks_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
  }

  #shopify-section-{{ section.id }} .collection_block_list_item {
      height: 170px;
  }

  #shopify-section-{{ section.id }} button.section_title_button_mobile {
    background: #F7D147;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 12px;
    font-family: 'RedHatDisplay';
  }

  #shopify-section-{{ section.id }} button.section_title_button_mobile p {
    padding: 7px 0;
    line-height: 18px;
    font-size: 12px;
    font-family: 'RedHatDisplay';
    text-transform: none;
  }
  }  

</style>

{% schema %}
{
  "name": "New Collection Block List",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_only_desktop",
      "label": "Show only desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_only_mobile",
      "label": "Show only mobile",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our collections"
    },
    {
      "type": "text",
      "id": "title_button",
      "label": "Heading button",
      "default": "EXPLORA MAIS"
    },
    {
      "type": "richtext",
      "id": "mobile_button_text",
      "label": "Button text",
      "default": "<p><strong>EXPLORA MAIS</strong></p>"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_title",
          "label": "Show title",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Collection image"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "New Collection Block List",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}