{% schema %}
{
  "name": "Custom last footer",
  "settings": [
    {
      "type": "header",
      "content": "Primeira imagem"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Selecione a primeira imagem"
    },
    {
      "type": "url",
      "id": "image_url",
      "label": "Link da primeira imagem"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Largura no computador",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 150
    },
    {
      "type": "range",
      "id": "image_width_mobile",
      "label": "Largura no telemóvel",
      "min": 40,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "header",
      "content": "Segunda imagem"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Selecione a segunda imagem"
    },
    {
      "type": "url",
      "id": "image_url_2",
      "label": "Link da segunda imagem"
    },
    {
      "type": "range",
      "id": "image_2_width",
      "label": "Largura no computador",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 150
    },
    {
      "type": "range",
      "id": "image_2_width_mobile",
      "label": "Largura no telemóvel",
      "min": 40,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "header",
      "content": "Texto"
    },
    {
      "type": "textarea",
      "id": "multiline_text",
      "label": "Descrição"
    },
    {
      "type": "text",
      "id": "single_line_text",
      "label": "Título"
    }
  ],
  "presets": [
    {
      "name": "Custom last footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}

<style>
  #custom_last_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem var(--desktop-container-gutter);
    justify-content: space-between;
  }

  #custom_last_footer_mobile {
    display: none;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    margin: 2rem var(--mobile-container-gutter) 6.5rem var(--mobile-container-gutter);
    align-items: center;
  }

  #custom_last_footer > ul,
  #custom_last_footer_mobile > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    height: max-content;
    row-gap: 1rem;
    padding: 0;
    margin: 0;
  }

  #custom_last_footer > ul {
    justify-content: right;
  }

  #custom_last_footer_mobile > ul {
    justify-content: center;
  }

  #custom_last_footer_mobile > ul > li,
  #custom_last_footer > ul > li {
    display: grid;
    padding: 0;
    margin: 0;
  }

  #custom_last_footer > #footer_top_block {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
    align-items: center;
  }

  .footer_custom_images {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .footer_custom_image_link {
    display: grid;
    text-decoration: none;
    line-height: 0;
  }

  .footer_custom_image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  #custom_last_footer .footer_image_1 {
    width: {{ section.settings.image_width }}px;
  }

  #custom_last_footer .footer_image_2 {
    width: {{ section.settings.image_2_width }}px;
  }

  #custom_last_footer_mobile .footer_image_1 {
    width: {{ section.settings.image_width_mobile }}px;
  }

  #custom_last_footer_mobile .footer_image_2 {
    width: {{ section.settings.image_2_width_mobile }}px;
  }

  #custom_last_footer > #footer_top_block > #footer_custom_text {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 0.5rem;
  }

  #custom_last_footer_mobile > .footer_mobile_content {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
  }

  #custom_last_footer > #footer_top_block > #footer_custom_text > span {
    font-size: 12px;
    font-weight: 600;
  }

  #custom_last_footer_mobile > .footer_mobile_content > span {
    font-size: 10px;
    max-width: 14rem;
    font-weight: 500;
  }

  #custom_last_footer > #footer_top_block > #footer_custom_text > #custom_title {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
  }

  #custom_last_footer_mobile > #custom_title {
    font-size: 12px;
    margin: 0;
    text-align: center;
    justify-self: center;
    max-width: 20rem;
    font-weight: 600;
  }

  @media screen and (min-width: 1499px) {
    #custom_last_footer {
      margin: 2rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #custom_last_footer {
      margin: 2rem 18vw;
    }
  }

  @media screen and (max-width: 1000px) {
    #custom_last_footer {
      display: none;
    }

    #custom_last_footer_mobile {
      display: grid;
    }
  }

  @media screen and (max-width: 480px) {
    #custom_last_footer_mobile > .footer_mobile_content {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 1rem;
    }

    #custom_last_footer_mobile > .footer_mobile_content > span {
      max-width: 20rem;
      text-align: center;
    }

    #custom_last_footer_mobile .footer_custom_images {
      max-width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 360px) {
    #custom_last_footer_mobile > .footer_mobile_content > span {
      max-width: 12rem;
    }

    #custom_last_footer_mobile .footer_custom_images {
      gap: 0.5rem;
    }
  }
</style>

{% assign alt_payments = 'mbway,multibanco' | split: ',' %}
{% assign new_payments = shop.enabled_payment_types | concat: alt_payments %}

<section id="custom_last_footer">
  <div id="footer_top_block">
    <div class="footer_custom_images">
      {% if section.settings.image != blank %}
        {% if section.settings.image_url != blank %}
          <a
            class="footer_custom_image_link"
            href="{{ section.settings.image_url }}"
          >
        {% endif %}

        <img
          class="footer_custom_image footer_image_1"
          src="{{ section.settings.image | image_url: width: 800 }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          alt="{{ section.settings.image.alt | default: 'Imagem do rodapé' | escape }}"
          loading="lazy"
        >

        {% if section.settings.image_url != blank %}
          </a>
        {% endif %}
      {% endif %}

      {% if section.settings.image_2 != blank %}
        {% if section.settings.image_url_2 != blank %}
          <a
            class="footer_custom_image_link"
            href="{{ section.settings.image_url_2 }}"
          >
        {% endif %}

        <img
          class="footer_custom_image footer_image_2"
          src="{{ section.settings.image_2 | image_url: width: 800 }}"
          width="{{ section.settings.image_2.width }}"
          height="{{ section.settings.image_2.height }}"
          alt="{{ section.settings.image_2.alt | default: 'Imagem do rodapé' | escape }}"
          loading="lazy"
        >

        {% if section.settings.image_url_2 != blank %}
          </a>
        {% endif %}
      {% endif %}
    </div>

    <div id="footer_custom_text">
      {% if section.settings.multiline_text != blank %}
        <span>{{ section.settings.multiline_text }}</span>
      {% endif %}

      {% if section.settings.single_line_text != blank %}
        <span id="custom_title">
          {{ section.settings.single_line_text }}
        </span>
      {% endif %}
    </div>
  </div>

  {% unless new_payments.size == 0 %}
    <ul>
      {% for payment in new_payments %}
        <li>
          {{ payment | payment_type_svg_tag }}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}
</section>

<section id="custom_last_footer_mobile">
  {% unless new_payments.size == 0 %}
    <ul>
      {% for payment in new_payments %}
        <li>
          {{ payment | payment_type_svg_tag }}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}

  <div class="footer_mobile_content">
    <div class="footer_custom_images">
      {% if section.settings.image != blank %}
        {% if section.settings.image_url != blank %}
          <a
            class="footer_custom_image_link"
            href="{{ section.settings.image_url }}"
          >
        {% endif %}

        <img
          class="footer_custom_image footer_image_1"
          src="{{ section.settings.image | image_url: width: 500 }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          alt="{{ section.settings.image.alt | default: 'Imagem do rodapé' | escape }}"
          loading="lazy"
        >

        {% if section.settings.image_url != blank %}
          </a>
        {% endif %}
      {% endif %}

      {% if section.settings.image_2 != blank %}
        {% if section.settings.image_url_2 != blank %}
          <a
            class="footer_custom_image_link"
            href="{{ section.settings.image_url_2 }}"
          >
        {% endif %}

        <img
          class="footer_custom_image footer_image_2"
          src="{{ section.settings.image_2 | image_url: width: 500 }}"
          width="{{ section.settings.image_2.width }}"
          height="{{ section.settings.image_2.height }}"
          alt="{{ section.settings.image_2.alt | default: 'Imagem do rodapé' | escape }}"
          loading="lazy"
        >

        {% if section.settings.image_url_2 != blank %}
          </a>
        {% endif %}
      {% endif %}
    </div>

    {% if section.settings.multiline_text != blank %}
      <span>{{ section.settings.multiline_text }}</span>
    {% endif %}
  </div>

  {% if section.settings.single_line_text != blank %}
    <span id="custom_title">
      {{ section.settings.single_line_text }}
    </span>
  {% endif %}
</section>