{%- style -%}
  .review-carousel {
    margin: 2rem var(--desktop-container-gutter);
  }

  .title-wrapper-with-link {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 1499px) {
    .review-carousel {
      margin: 2rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    .review-carousel {
      margin: 2rem 18vw;
    }
  }

  @media screen and (max-width: 1000px) {
    .review-carousel {
      margin: 1rem var(--mobile-container-gutter);
    }

    .title-wrapper-with-link h2 {
      font-size: 24px;
    }
  }
{%- endstyle -%}

<div class="review-carousel section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper-with-link title-wrapper--no-top-margin">
        <h2
          id="SectionHeading-{{ section.id }}"
          class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {{ section.settings.heading }}
        </h2>
      </div>
    {%- endunless -%}

    <div class="skeepers_carousel_container" data-slides-count="4"></div>
    <script
      defer
      charset="utf-8"
      src="//widgets.rr.skeepers.io/carousel/30b17f6b-db4c-0c24-0d69-c5635e2a1e35/42b465aa-d094-4264-9e5e-bb42db597f12.js"
    ></script>
  </div>
</div>

{% schema %}
{
  "name": "Review carousel",
  "limit": 1,
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Multicolumn",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h1",
          "label": "Extra extra large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    }
  ],
  "presets": [
    {
      "name": "Review carousel"
    }
  ]
}
{% endschema %}
