<style>
  #rita-main-article-custom {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 6rem;
    margin: 2rem var(--desktop-container-gutter);
  }

  #rita-main-article-custom > article > p {
    line-height: 26px;
    font-weight: 500 !important;
    font-size: 1.25rem;
    line-height: 1.8rem;
  }

  #rita-main-article-custom > article > a,
  #rita-main-article-custom > article > p > a {
    color: #258439;
    text-decoration: underline;
    text-decoration-color: #258439;
    text-decoration-thickness: 2px;
  }

  #rita-main-article-custom > article > ul {
    padding-inline-start: 1.1em;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  #rita-main-article-custom > article > ol {
    margin-bottom: 1rem;
  }

  #rita-main-article-custom > article > ul > li::marker {
    font-size: 0.7rem;
  }

  #rita-main-article-custom > article > h2 {
    font-size: 1.5rem;
    color: #258439;
    margin-bottom: 0.5rem;
  }

  #blog_visitas_custom > picture {
    width: 100%;
  }

  #rita-main-article-custom > article > h3 {
    font-size: 1.25rem;
    color: #258439;
    margin-bottom: 0.5rem !important;
  }

  @media screen and (min-width: 1499px) {
    #rita-main-article-custom {
      margin: 2rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #rita-main-article-custom {
      margin: 2rem 18vw;
    }
  }

  #rita-main-article-custom > aside {
    background-color: #ffbb12;
    border-radius: 1rem;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1.5rem;
    place-items: center;
    padding: 2.5rem 1.5rem;
    height: max-content;
    width: 300px;
    text-align: center;
    position: sticky;
    top: 6rem;
    align-self: start;
  }

  #rita-main-article-custom > aside > div > h3 {
    font-size: 1.25rem;
    font-weight: 700 !important;
  }

  #rita-main-article-custom > aside > h1 {
    font-size: 2rem;
    font-weight: 900 !important;
  }

  #rita-main-article-custom > aside > div {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
  }

  #rita-main-article-custom > aside > p,
  #rita-main-article-custom > aside > div > h3,
  #rita-main-article-custom > aside > h1,
  #rita-main-article-custom > article > h3 {
    margin: 0;
    padding: 0;
    line-height: normal;
  }

  #rita-main-article-custom > aside > p {
    font-size: 1.25rem;
  }

  #rita-main-article-custom > aside > a {
    background-color: #258439;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
    font-weight: 700 !important;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
  }

  #referencias_article_custom {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;
  }

  #referencias_article_custom > p {
    display: none;
    padding: 0;
    margin: 0;
    line-height: 26px;
    transition: display 0.3s ease;
  }

  #referencias_article_custom > #referencias_wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  #referencias_article_custom > #referencias_wrapper > h3 {
    padding: 0;
    margin: 0;
    font-weight: 700 !important;
    font-size: 1.25rem;
  }

  #referencias_article_custom > #referencias_wrapper > svg {
    transition: rotate 0.3s ease;
  }

  #referencias_article_custom > #referencias_wrapper:hover > svg {
    rotate: 90deg;
  }

  #rita-main-article-custom > aside > a:hover {
    opacity: 0.75;
  }

  @media screen and (max-width: 1000px) {
    #rita-main-article-custom > article > ul {
      padding-inline-start: 0.9em;
      font-size: 1rem;
    }

    #rita-main-article-custom > article > p {
      font-size: 1rem;
    }

    #rita-main-article-custom {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      gap: 1rem;
      margin: 1rem var(--mobile-container-gutter);
    }

    #rita-main-article-custom > aside {
      padding: 1.5rem;
      height: max-content;
      width: 100%;
      position: unset;
      top: 0;
      align-self: unset;
    }

    #rita-main-article-custom > aside > img {
      width: 160px;
      height: 160px;
    }
  }

  .line_div_breaker_custom {
    width: 100%;
    background-color: #258439;
    height: 1px;
    opacity: 0.5;
  }

  #aviso_legal_custom {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;
  }

  #aviso_legal_custom > div {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 0.25rem;
  }

  #aviso_legal_custom > div > h5 {
    padding-top: 1rem;
    font-weight: 700 !important;
  }

  #aviso_legal_custom > div > p {
    font-weight: 500 !important;
  }

  #aviso_legal_custom > div > * {
    padding: 0;
    margin: 0;
    line-height: 26px;
  }

  #article_date_custom > button {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.25rem;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #article_date_custom {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  #article_date_custom > button > span {
    color: #258439;
    font-size: 1rem;
    font-weight: 700 !important;
  }

  #article_date_custom > span {
    text-transform: capitalize;
    line-height: normal;
  }
</style>

<section id="rita-main-article-custom">
  <article>
    {{ article.content }}
    {% unless article.metafields.custom.referencias == blank %}
      <div id="referencias_article_custom">
        <div class="line_div_breaker_custom"></div>
        <div id="referencias_wrapper">
          <h3>Referências</h3>

          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_2028_8909" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <rect x="0.515625" y="0.847656" width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_2028_8909)">
            <path d="M11.5156 21.8477V13.8477H3.51562V11.8477H11.5156V3.84766H13.5156V11.8477H21.5156V13.8477H13.5156V21.8477H11.5156Z" fill="#258439"/>
            </g>
          </svg>
        </div>

        <p id="refs_body">{{ article.metafields.custom.referencias | metafield_text }}</p>
        <div class="line_div_breaker_custom"></div>
      </div>

      <div id="aviso_legal_custom">
        <div>
          <h5>Aviso legal</h5>

          {{ section.settings.aviso_legal }}
        </div>

        <div class="line_div_breaker_custom"></div>
      </div>

      <div id="article_date_custom">
        <button>
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_2043_10663" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="34" height="34">
            <rect x="0.34375" y="0.953125" width="33" height="33" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_2043_10663)">
            <path d="M9.01691 31.8911C8.3223 31.8911 7.73438 31.6505 7.25313 31.1692C6.77188 30.688 6.53125 30.1 6.53125 29.4054V15.1268C6.53125 14.4321 6.77188 13.8442 7.25313 13.363C7.73438 12.8817 8.3223 12.6411 9.01691 12.6411H12.5335V14.7036H9.01691C8.91103 14.7036 8.81409 14.7477 8.72609 14.8359C8.63787 14.9239 8.59375 15.0209 8.59375 15.1268V29.4054C8.59375 29.5113 8.63787 29.6083 8.72609 29.6963C8.81409 29.7845 8.91103 29.8286 9.01691 29.8286H24.6706C24.7765 29.8286 24.8734 29.7845 24.9614 29.6963C25.0496 29.6083 25.0938 29.5113 25.0938 29.4054V15.1268C25.0938 15.0209 25.0496 14.9239 24.9614 14.8359C24.8734 14.7477 24.7765 14.7036 24.6706 14.7036H21.154V12.6411H24.6706C25.3652 12.6411 25.9531 12.8817 26.4344 13.363C26.9156 13.8442 27.1563 14.4321 27.1563 15.1268V29.4054C27.1563 30.1 26.9156 30.688 26.4344 31.1692C25.9531 31.6505 25.3652 31.8911 24.6706 31.8911H9.01691ZM15.8125 22.6098V7.44256L13.2688 9.98631L11.8198 8.51609L16.8438 3.49219L21.8677 8.51609L20.4188 9.98631L17.875 7.44256V22.6098H15.8125Z" fill="#258439"/>
            </g>
          </svg>

          <span>Partilhar</span>
        </button>

        {% assign meses = 'Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro'
          | split: ', '
        %}
        {% assign mes_num = article.published_at | date: '%-m' | minus: 1 %}
        <span>
          {{- article.published_at | date: '%d' }}
          {{ meses[mes_num] }}
          {{ article.published_at | date: '%Y' -}}
        </span>
      </div>
    {% endunless %}
  </article>

  {% if section.settings.is_rita_page == true %}
    <aside>
      <img
        src="{{ section.settings.selected_img | img_url: 'master' }}"
        alt="Rita Silva"
      >

      <div>{{ section.settings.title }}</div>
      <h1>{{ section.settings.description }}</h1>
      <p>{{ section.settings.alt_text }}</p>
      <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_txt }}</a>
    </aside>
  {% else %}
    <style>
      #blog_visitas_custom {
        display: grid;
        background-color: #258439;
        border-radius: 1rem;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        place-items: center;
        height: max-content;
        width: 300px;
        text-align: center;
        position: sticky;
        top: 6rem;
        align-self: start;
      }

      #blog_visitas_custom > div {
        display: grid;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        gap: 1.5rem;
        padding: 0 1.5rem 2.5rem 1.5rem;
        place-content: center;
        text-align: center;
      }

      #blog_visitas_custom > div > h1,
      #blog_visitas_custom > div > h3,
      #blog_visitas_custom > div > div > p {
        padding: 0;
        margin: 0;
        line-height: normal;
        color: white;
      }

      #blog_visitas_custom > div > img {
        justify-self: center;
      }

      #blog_visitas_custom > div > h1 {
        font-weight: 900 !important;
      }

      #blog_visitas_custom > div > div {
        display: grid;
        gap: 0.25rem;
      }

      #blog_visitas_custom > div > div > p {
        font-weight: 500 !important;
        font-size: 1.25rem;
      }

      #blog_visitas_custom > div > a {
        color: white;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        background-color: #ffbb12;
        width: max-content;
        justify-self: center;
        border-radius: 0.5rem;
        font-weight: 700 !important;
        border: 1px solid transparent;
        transition: all 0.15s ease;
        color: black;
      }

      #blog_visitas_custom > div > a:hover {
        border-color: #ffbb12;
        background-color: transparent;
        color: white;
      }

      #blog_visitas_custom > picture > img {
        width: 100%;
        border-radius: 0 1rem 1rem 0;
        height: 100%;
        object-fit: cover;
      }

      #blog_visitas_custom > picture > img {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 L0,100 C25,80 75,80 100,100 L100,0 Z' fill='black'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 L0,100 C25,80 75,80 100,100 L100,0 Z' fill='black'/%3E%3C/svg%3E");
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        border-radius: 1rem 1rem 0 0;
      }

      #blog_visitas_custom > div > h3 {
        font-size: 1.25rem;
      }

      #blog_visitas_custom > div > h1 {
        font-size: 2rem;
      }

      #blog_visitas_custom > div > p,
      #blog_visitas_custom > div > a {
        font-size: 1rem;
      }

      @media screen and (max-width: 1000px) {
        #blog_visitas_custom {
          width: 100%;
        }
      }
    </style>

    <section id="blog_visitas_custom">
      {% unless section.settings.selected_img == blank %}
        <picture>
          <source media="(max-width: 1000px)" srcset="{{ section.settings.selected_img | img_url: 'master' }}">
          <img
            src="{{ section.settings.selected_img | img_url: 'master' }}"
            alt="Imagem"
            width="auto"
            height="auto"
          >
        </picture>
      {% endunless %}

      <div>
        {% unless section.settings.logo == blank %}
          <img
            src="{{ section.settings.logo | img_url: 'master' }}"
            alt="Logo"
            width="auto"
            height="auto"
          >
        {% endunless %}

        {% unless section.settings.title == blank %}
          {{ section.settings.title }}
        {% endunless %}

        {% unless section.settings.description == blank %}
          <div>{{ section.settings.description }}</div>
        {% endunless %}

        {% unless section.settings.btn_txt == blank %}
          <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_txt }}</a>
        {% endunless %}
      </div>
    </section>
  {% endif %}
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const wrapper = document.querySelector('#referencias_article_custom > #referencias_wrapper');
    const body = document.getElementById('refs_body');

    if (wrapper && body) {
      wrapper.addEventListener('click', () => {
        const current = getComputedStyle(body).display;
        body.style.display = current === 'none' ? 'block' : 'none';
      });
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Seleciona o botão "Partilhar" que já existe no teu markup
    const shareBtn = document.querySelector('#article_date_custom > button');
    if (!shareBtn) return;

    // Garante que o botão não submete forms por engano
    shareBtn.setAttribute('type', 'button');

    // Dados da partilha (seguros via Liquid -> JSON)
    const url   = window.location.href.split('#')[0];
    const title = {{ article.title | json }};
    const text  = {{ shop.name | json }}; // podes trocar por um resumo, se preferires

    async function copyToClipboard(value) {
      if (navigator.clipboard && window.isSecureContext) {
        await navigator.clipboard.writeText(value);
      } else {
        const ta = document.createElement('textarea');
        ta.value = value;
        ta.setAttribute('readonly', '');
        ta.style.position = 'fixed';
        ta.style.left = '-9999px';
        document.body.appendChild(ta);
        ta.select();
        try { document.execCommand('copy'); } catch(e) {}
        document.body.removeChild(ta);
      }
    }

    async function handleShare() {
      const shareData = { title, text, url };

      if (navigator.share) {
        try {
          await navigator.share(shareData);
          return; // sucesso ou cancelado pelo utilizador
        } catch (err) {
          // Se o utilizador cancelar, não fazemos nada; outros erros caem no fallback
          if (err && err.name === 'AbortError') return;
        }
      }

      // Fallback: copiar URL
      try {
        await copyToClipboard(url);
        alert('Ligação copiada para a área de transferência.');
      } catch (e) {
        // Último recurso: prompt
        prompt('Copie a ligação desta página:', url);
      }
    }

    shareBtn.addEventListener('click', handleShare, { passive: true });
  });
</script>

{% schema %}
{
  "name": "Rita main custom",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_rita_page",
      "label": "Artigo da Rita"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Selecione a logo"
    },
    {
      "type": "image_picker",
      "id": "selected_img",
      "label": "Selecione a imagem"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descricao"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Texto"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Texto do botao"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link do botao"
    },
    {
      "type": "richtext",
      "id": "aviso_legal",
      "label": "Texto do aviso legal"
    }
  ],
  "presets": [
    {
      "name": "Rita main custom",
      "category": "blog"
    }
  ]
}
{% endschema %}
