<style>
  #servico_head_custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 100dvw;
    position: relative;
  }

  #servico_head_custom > .text_container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    max-width: 40dvw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #servico_head_custom > .text_container > div > p,
  #servico_head_custom > .text_container > div > h1 {
    padding: 0;
    margin: 0;
    line-height: normal;
  }

  #servico_head_custom > .text_container > div > h1 {
    font-size: 4rem;
    font-weight: 900;
  }

  #servico_head_custom > .text_container > div > p {
    font-size: 1.25rem;
    font-weight: 500;
  }

  #servico_head_custom > .text_container > button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #258439;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
  }

  #servico_head_custom > .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #servico_head_custom > .image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media screen and (min-width: 1920px) {
    #servico_head_custom > .image-wrapper {
      max-height: 800px;
    }

    #servico_head_custom > .image-wrapper > img {
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 1001px) {
    #servico_head_custom > .text_container {
      left: 30%;
      transform: translate(-30%, -50%);
    }
  }

  @media screen and (max-width: 1599px) and (min-width: 1250px) {
    #servico_head_custom > .text_container {
      gap: 1rem;
    }

    #servico_head_custom > .text_container > div > h1 {
      font-size: 3rem;
    }

    #servico_head_custom > .text_container > div > p,
    #servico_head_custom > .text_container > div > button {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 1249px) and (min-width: 1000px) {
    #servico_head_custom > .text_container {
      gap: 1rem;
    }

    #servico_head_custom > .text_container > div > h1 {
      font-size: 2rem;
    }

    #servico_head_custom > .text_container > div > p,
    #servico_head_custom > .text_container > div > button {
      font-size: 0.875rem;
    }
  }

  @media screen and (max-width: 1000px) {
    #servico_head_custom > .text_container {
      text-align: center;
      top: 75%;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 0.5rem;
      padding: 1rem;
      width: 90dvw;
      gap: 1rem;
      max-width: 100%;
    }

    #servico_head_custom > .text_container > div > h1 {
      font-size: 1.25rem;
    }

    #servico_head_custom > .text_container > div > p {
      font-size: 0.875rem;
    }

    #servico_head_custom > .text_container > button {
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  }
</style>

<section id="servico_head_custom">
  {% if section.settings.first_image and section.settings.second_image %}
    <div class="image-wrapper">
      <img
        src="{{ section.settings.first_image | image_url: width: 1500 }}"
        alt="Primeira imagem"
        height="auto"
        width="1500"
      >
    </div>

    <div class="image-wrapper">
      <img
        src="{{ section.settings.second_image | image_url: width: 1500 }}"
        alt="Segunda imagem"
        height="auto"
        width="1500"
      >
    </div>

    {% if section.settings.title %}
      <div class="text_container">
        <div>
          {{ section.settings.title }}
        </div>

        {% if section.settings.description %}
          <div>
            {{ section.settings.description }}
          </div>
        {% endif %}

        {% if section.settings.btn_txt %}
          <button>{{ section.settings.btn_txt }}</button>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</section>

<script>
  const section = document.getElementById("servico_head_custom");
  const container = document.querySelector(".text_container");
  const mobileBg = document.querySelector("div");

  console.log(container);

  mobileBg.style.height = container.innerHeight;
  mobileBg.style.width = '100dvw';

  const parent = section.parentElement;
  parent.appendChild(mobileBg);
</script>

{% schema %}
{
  "name": "Servico Nutricao Head",
  "settings": [
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "Primeira Imagem"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Segunda Imagem"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Título"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descrição"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Texto do botão"
    }
  ],
  "presets": [
    {
      "name": "Servico Nutricao Head",
      "category": "head"
    }
  ]
}
{% endschema %}
