{% assign path_block = section.blocks | where: 'type', 'path' %}

<style>
  #servico_know_custom {
    position: relative;
  }

  #servico_know_custom > div {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0%;
    margin: 0 var(--desktop-container-gutter);
    transform: translate(-50%, -50%);
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;
    padding: 1.5rem 12rem 1.5rem 1.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  @media screen and (min-width: 1499px) {
    #section_step_custom {
      margin: 0 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #section_step_custom {
      margin: 0 18vw;
    }
  }

  #servico_know_custom > div > div > h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 900 !important;
  }

  #servico_know_custom > div > div > p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500 !important;
  }

  #servico_know_custom > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }
</style>

<section
  id="servico_know_custom"
  class="lazy-bg"
  data-bg="{{ section.settings.bg_img | image_url: width: '1923', height: '1310' }}"
  style="background-size: cover; background-position: center;"
>
  {% unless section.settings.title == blank %}
    <div>
      <div>
        <h1>{{ section.settings.title }}</h1>
      </div>

      {% if section.settings.description != blank %}
        <div>
          {{ section.settings.description }}
        </div>
      {% endif %}
    </div>
  {% endunless %}

  {% unless path_block.size == 0 %}
    <ul>
      {% for p in path_block %}
        <li>
          {% unless p.settings.icon == blank %}
            <img
              src="{{ p.settings.icon | image_url: width: 70, height: 70 }}"
              alt="{{ forloop.index }}-icon"
              width="70"
              height="70"
            >
          {% endunless %}

          {% unless p.settings.title == blank %}
            <h1>{{ p.settings.title }}</h1>
          {% endunless %}

          {% unless p.settings.description == blank %}
            {{ p.settings.description }}
          {% endunless %}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}
</section>

{% schema %}
{
  "name": "Servico Nutricao Know",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Imagem de Fundo"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descrição"
    }
  ],
  "blocks": [
    {
      "type": "path",
      "name": "Percurso",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícone"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Descrição"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Servico Nutricao Know",
      "category": "custom"
    }
  ]
}
{% endschema %}
