{% assign reviews_block = section.blocks | where: 'type', 'review' %}

<style>
  #servico_reviews_custom {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    width: 100dvw;
    margin: 2rem 0;
    background-color: #88A44E33;
  }

  #servico_reviews_custom > h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 900 !important;
    line-height: normal;
  }

  #reviews_content {
    display: grid;
    justify-items: center;
    list-style-type: none;
    cursor: grab;
  }

  #servico_reviews_custom > div {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
  }

  #reviews_content > li {
    display: none;
    grid-template-rows: repeat(2, max-content);
    text-align: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
    max-width: 50%;
    transform: display 0.3s ease;
  }

  #reviews_content > li.active {
    display: grid;
  }

  #reviews_content > li > div > p,
  #reviews_content > li > div > span {
    padding: 0;
    margin: 0;
    line-height: normal;
    font-size: 1rem;
    font-weight: 500 !important;
    user-select: none;
  }

  #bullet_points_container {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
  }

  .review_index_point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .review_index_point.active {
    border-radius: 0.25rem;
    width: 30px;
  }
</style>

<section id="servico_reviews_custom">
  {% unless section.settings.title == blank %}
    <h1>{{ section.settings.title }}</h1>
  {% endunless %}

  {% if reviews_block.size > 0 %}
    <div>
      <ul id="reviews_content">
        {% for review in reviews_block %}
          <li
            class="review_txt {% if forloop.first %}active{% endif %}"
            data-index="{{ forloop.index }}"
          >
            {% unless review.settings.description == blank %}
              <div>{{ review.settings.description }}</div>
            {% endunless %}

            {% unless review.settings.name == blank %}
              <div>
                <span>
                  {{- review.settings.name -}}
                  {%- if review.settings.age %} - {{ review.settings.age }}{% endif -%}
                </span>
              </div>
            {% endunless %}
          </li>
        {% endfor %}
      </ul>

      <ul id="bullet_points_container">
        {% for review in reviews_block %}
          <li
            class="review_index_point {% if forloop.first %}active{% endif %}"
            data-index="{{ forloop.index }}"
          ></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</section>

<script>
  const bulletPoints = document.querySelectorAll(".review_index_point");

  bulletPoints.forEach((bp) => {
    bp.addEventListener("click", () => {
      const activeBp = document.querySelector(".review_index_point.active");
      const currentIdx = activeBp.getAttribute("data-index");
      const clickedIdx = bp.getAttribute("data-index");

      if (currentIdx != clickedIdx) {
        const activeRw = document.querySelector(".review_txt.active");
        const rw = document.querySelector(`.review_txt[data-index="${clickedIdx}"]`);

        console.log(rw);

        activeRw.classList.remove("active");
        activeRw.classList.add("active");
        activeBp.classList.remove("active");
        bp.classList.add("active");
      }
    });
  });
</script>

{% schema %}
{
  "name": "Servico Nutricao Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Avaliação"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Nome"
        },
        {
          "type": "number",
          "id": "age",
          "label": "Idade"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Servico Nutricao Reviews",
      "category": "review"
    }
  ]
}
{% endschema %}
