{%- case section.settings.text_width -%}
  {%- when 'narrow' -%}
    {%- assign container_classes = 'container container--narrow' -%}

  {%- when 'regular' -%}
    {%- assign container_classes = 'container container--medium' -%}

  {%- when 'wide' -%}
    {%- assign container_classes = 'container' -%}
{%- endcase -%}

<section class="section section--text-centered" data-section-id="{{ section.id }}" data-section-type="rich-text">
  <div class="{{ container_classes }}">
    {%- if section.settings.title != blank or collection.metafields.richtextsection.h2_title != blank -%} 
      {%- if section.settings.show_title != blank -%}
        {%- if section.settings.title != blank and section.settings.show_title != blank-%}   
          <h2 class="heading h1">{{ section.settings.title | escape }} </h2>
        {%- else -%}
          <h2 class="heading h1"> {{ collection.metafields.richtextsection.h2_title }}</h2>
        {%- endif -%} 
      {%- endif -%} 
      {% elsif collection.handle == 'all' %}
        <h2 class="heading h1"> {{ settings.all_collection_title }} </h2>
    {%- endif -%}

    {%- if section.settings.show_content != blank -%}
    <div class="rte">
      {%- if section.settings.content != blank or collection.metafields.richtextsection.customcontent != blank -%}
        {%- if section.settings.content != blank -%}
          {{ section.settings.content }} 
        {%- else -%}
          {{ collection.metafields.richtextsection.customcontent | metafield_tag }}
        {%- endif -%} 
      {%- endif -%}  

      {% if collection.handle == 'all' %}
        {{ settings.all_collection_description }}
      {%- endif -%}

      {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
        <a href="{{ section.settings.button_link }}" class="button button--primary">{{ section.settings.button_text | escape }}</a>
      {%- endif -%}
    </div>
  {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "select",
      "id": "text_width",
      "label": "Text width",
      "options": [
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "regular",
          "label": "Regular"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ],
      "default": "narrow"
    },
    {
        "type": "checkbox",
        "id": "show_title",
        "label": "Display title",
        "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "H2 Heading"
    },
    {
        "type": "checkbox",
        "id": "show_content",
        "label": "Display content",
        "default": false
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}