{% assign articles_per_page = request.query.articles_per_page | default: 8 | plus: 0 %}
{% assign page = request.query.page | default: 1 | plus: 0 %}
{% assign author = request.query.author | default: '' %}
{% assign blog_handle = request.query.blog_handle | default: '' %}

{% capture search_query %}blog:{{ blog_handle }} author:"{{ author }}"{% endcapture %}

{% comment %} Calcula offset para paginação {% endcomment %}
{% assign offset = (page | minus: 1) | times: articles_per_page %}

<ul id="tempList" style="display:none">
  {% for result in search.results offset: offset limit: articles_per_page %}
    {% if result.object_type == 'article' %}
      {% assign post = result %}
      {% assign post_tag = '' %}
      {% for tag in post.tags %}
        {% unless tag contains 'author'
          or tag contains 'dificuldade'
          or tag contains 'doses'
          or tag contains 'duracao'
        %}
          {% assign post_tag = tag %}
          {% break %}
        {% endunless %}
      {% endfor %}

      <li>
        <a href="{{ post.url }}">
          <div style="background-image: url({{ post.image | img_url: 'master' }})"></div>
          <h4>{{ post.title }}</h4>
          <span>{{ post_tag }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{{ content_for_tempList }}
